{% embed '@common_design/cd/cd-footer/cd-ocha.html.twig' %}

  {% block related_platforms %}
    <li class="cd-ocha-services__link"><a href="https://fts.unocha.org/">{{ 'Financial Tracking Service'|t }}</a></li>
    <li class="cd-ocha-services__link"><a href="https://data.humdata.org/">{{ 'Humanitarian Data Exchange'|t }}</a></li>
    <li class="cd-ocha-services__link"><a href="https://reliefweb.int/">{{ 'ReliefWeb'|t }}</a></li>
    <li class="cd-ocha-services__link"><a href="https://unocha.org/">{{ 'OCHA website'|t }}</a></li>
  {% endblock %}

  {% block other_services_first %}
    <li class="cd-ocha-services__link"><a href="https://response.reliefweb.int/">{{ 'ReliefWeb Response'|t }}</a></li>
    <li class="cd-ocha-services__link"><a href="https://interagencystandingcommittee.org">{{ 'Inter-Agency Standing Committee'|t }}</a></li>
    <li class="cd-ocha-services__link"><a href="https://vosocc.unocha.org/">{{ 'Virtual OSOCC'|t }}</a></li>
  {% endblock %}

  {% block other_services_second %}

  {% endblock %}

{% endembed %}
