{#
/**
 * @file
 * Include toolbar.html.twig template from Gin.
 */
#}
{% include '@gin/navigation/toolbar--gin.html.twig' ignore missing %}
<div class="gin-secondary-toolbar gin-secondary-toolbar--frontend">
  <div class="gin-secondary-toolbar__layout-container">
    {{ preview_region }}
    {{ preview_content }}
    <div class="{{ glb_classes(create_attribute().addClass('region region-sticky')) }}">
      <div class="gin-sticky form-wrapper glb-region-sticky__items__inner gin-sticky form-wrapper">
        <input data-drupal-selector="edit-discard" type="submit" name="op"
               value="{{ 'Discard changes'|t }}" class="glb-button-discard glb-button form-submit">
        <input data-drupal-selector="edit-submit" type="submit" name="op"
               value="{{ 'Save layout'|t }}" class="js-glb-primary-save glb-button glb-button--primary form-submit">
        <a href="#toggle-sidebar" class="meta-sidebar__trigger trigger" role="button"
           title="{{ 'Hide sidebar panel'|t }}" aria-controls="gin_sidebar" aria-expanded="true"><span class="visually-hidden">{{ 'Hide sidebar panel'|t }}</span></a>
      </div>
    </div>
  </div>
</div>
{{ toolbar_bottom }}
