<div {{ attributes }} {% if caption and caption_id %}aria-describedby="{{ caption_id }}"{% endif %}>
  {{ image }}
  {% if caption or credit %}
    <div class="image-caption-wrapper">
      <a class="expand-caption" tabindex="0"></a>
      <div class="image-caption" id="{{ caption_id }}">
        {{ caption }}
        {{ credit }}
      </div>
    </div>
  {% endif %}
</div>