{{ attach_library('common_design/cd-dropdown') }}

<div class="document-link-box">
  <div class="title-wrapper">
    <p class="title">{{ title }}</p>
  </div>
  {% if thumbnail %}
    <div class="thumbnail">{{ thumbnail }}</div>
  {% else %}
    <div class="icon"></div>
  {% endif %}
  <div class="meta">
    <span>{{ meta }}</span>
  </div>
  <div class="buttons">
    <div data-cd-component="cd-dropdown" data-cd-icon="arrow-down" id="cd-dropdown" class="cd-dropdown" aria-labelledby="dropdown-title" data-cd-toggable="{{ button_title }}">
      <div>
        {{ download_links }}
      </div>
    </div>
  </div>
</div>