{{ attach_library('common_design/cd-dropdown') }}

<div {{ attributes }}>
 {{ attachment_select }}
  <div class="plan-attachment-map-wrapper pane-{{ chart_id }} {{ map_type }}">
    {% if map_tabs %}
      <div class="map-tabs">
        <div class="map-tabs--inner">{{ map_tabs }}</div>
      </div>
    {% endif %}
    <div class="map-container">
      {% if legend %}
        <div id="{{ chart_id }}-legend" class="map-legend"></div>
      {% endif %}
      <div id="{{ chart_id }}">
      </div>
    </div>
  </div>
</div>
