{%
  set map_container_classes = [
    'map-container'
  ]
%}

{{ attach_library('common_design/cd-dropdown') }}

<div class="{{ outer_classes }}">
 {{ attachment_select }}
  <div class="plan-attachment-map-wrapper pane-{{ chart_id }} {{ map_type }}">
    {% if map_tabs %}
      <div class="map-tabs">
        <div class="map-tabs--inner content-width">{{ map_tabs }}</div>
      </div>
    {% endif %}
    <div {{ attributes.addClass(map_container_classes) }}">
      {% if legend %}
        <div id="{{ chart_id }}-legend" class="map-legend"><ul></ul></div>
      {% endif %}
      <div id="{{ chart_id }}">
      </div>
    </div>
  </div>
</div>
