<div class="plan-overview-map-modal-content-wrapper">
  <div class="section-wrapper">
    <div class="section-header">
      <i class="material-icons group">group</i>
      <span>{{ 'People'|t }}</span>
    </div>
    <div class="section-row">
      <span class="label">{{ items.total_population.label }}</span>
      <span class="value">{{ items.total_population.value }}</span>
    </div>
    <div class="section-row">
      <span class="label">{{ items.inneed.label }}</span>
      <span class="value">{{ items.inneed.value }}</span>
    </div>
    <div class="section-row">
      <span class="label">{{ items.target.label }}</span>
      <span class="value">{{ items.target.value }}</span>
    </div>
    {% if items.expected_reach %}
      <div class="section-row">
        <span class="label">{{ items.expected_reach.label }}</span>
        <span class="value">{{ items.expected_reach.value }}</span>
      </div>
    {% endif %}
    {% if items.expected_reached %}
      <div class="section-row">
        <span class="label">{{ items.expected_reached.label }}</span>
        <span class="value">{{ items.expected_reached.value }}</span>
      </div>
    {% endif %}
    {% if items.reached %}
      <div class="section-row">
        <span class="label">{{ items.reached.label }}</span>
        <span class="value">{{ items.reached.value }}</span>
      </div>
    {% endif %}
    {% if items.reached_percent %}
      <div class="section-row">
        <span class="label">{{ items.reached_percent.label }}</span>
        <span class="value">{{ items.reached_percent.value }}</span>
      </div>
    {% endif %}
  </div>
  {% if items.funding_required or items.funding_received or items.funding_progress %}
    <div class="section-wrapper">
      <div class="section-header">
        <i class="material-icons attach-money">attach_money</i>
        <span>{{ 'Funding'|t }}</span>
      </div>
      <div class="section-row">
        <span class="label">{{ items.funding_required.label }}</span>
        <span class="value">{{ items.funding_required.value }}</span>
      </div>
      <div class="section-row">
        <span class="label">{{ items.funding_received.label }}</span>
        <span class="value">{{ items.funding_received.value }}</span>
      </div>
      <div class="section-row">
        <span class="label">{{ items.funding_progress.label }}</span>
        <span class="value">{{ items.funding_progress.value }}</span>
      </div>
    </div>
  {% endif %}
  {% if items.plan_status.value %}
    <div class="section-wrapper">
      <div class="section-header">
      <div class="section-row section-row-plan-status">
        <span class="label">
          <div class="plan-status plan-status-header-icon"></div>
          {{ items.plan_status.label }}
        </span>
        <span class="value">{{ items.plan_status.value }}</span>
      </div>
    </div>
  {% endif %}
</div>