<div {{ attributes }}>
  <div class="plan-overview-map-wrapper pane-{{ chart_id }} {{ map_type }}">
    {% if map_tabs %}
      <div class="map-tabs">
        <div class="map-tabs--inner content-width">{{ map_tabs }}</div>
      </div>
    {% endif %}
    <div class="map-container">
      <div id="{{ chart_id }}">
        <div id="{{ chart_id }}-legend" class="map-legend"></div>
      </div>
    </div>
  </div>
</div>
