{{ attach_library('common_design/cd-grid') }}
{{ attach_library('common_design_subtheme/ghi-entity-logframe') }}

{%- if items -%}
  <div class="item-list--entity-logframe">
    {%- for item in items -%}
      <div class="item-wrapper">
        <div class="entity-wrapper {{ item.attachment_tables is empty ? 'no-tables' : ''}}">
          <div class="entity-wrapper--inner">
            <p class="label">{{ item.label }}</p>
            <p class="description">{{ item.description }}</p>
          </div>
          <span class="table-toggle material-icons" tabindex="0" data-toggle="tooltip" data-tippy-content="{{ tooltip_show_data }}" data-tippy-content-open="{{ tooltip_hide_data }}">keyboard_arrow_down</span>
          <span class="table-no-data material-icons" data-toggle="tooltip" data-tippy-content="{{ tooltip_no_data }}">horizontal_rule</span>
        </div>
        {%- if not item.attachment_tables is empty or not item.contributes_heading is empty -%}
          <div class="attachment-tables-wrapper">
            {%- if not item.contributes_heading is empty -%}
              {{ item.contributes_heading }}
            {%- endif -%}
            {{ item.attachment_tables }}
          </div>
        {%- endif -%}
      </div>
    {%- endfor -%}
  </div>
{%- endif -%}