{{ attach_library('common_design_subtheme/ghi-tab-container') }}

<div class="tab-container-wrapper">
  {% if tabs|length > 1 %}
    <div class="tab-navigation-wrapper">
      {% for key, item in tabs %}
        <div tabindex="0" data-tab-index="{{ key }}" class="tab-navigation">
          <div class="tab-navigation__inner">
            {{ item.title }}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  <div class="tab-details-wrapper">
    {% for key, item in tabs %}
      <div data-tab-index="{{ key }}" class="tab-details">
        {{ item.items }}
        {{ item.link }}
      </div>
    {% endfor %}
  </div>
</div>
